<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses Register</title>
    <style>
	h1 {
	    color: #ff7f50;
	}

        table tr {
            text-align: center;
      
        }
      
        table th{
            border-bottom: 3px solid black;
            
        }
        table {
            margin-bottom: 3px;
        }
        .search-box {
	    width: 300px;
	    height: 30px;
	}

	.search-button {
	    width:100px;
	    height: 30px;
	    margin-bottom: 20px;
	}

    </style>
</head>
<body>
<h1> &#11088; Course Register &#11088;</h1>
{% if person_obj.Name == Ali  %}
<h2>Welcome Dear<span style="color:#be2edd;"> {{welcome.Name|upper}}</span></h2>
<h4>From <span style="color:#6ab04c;">"{{welcome.City}}"</span></h4>
<p>this section write by <b>if & pipe</b> <ins style="color:red;"> django template tag</ins>&#9757;</p>
{% endif %}
<hr>
<p>Please Enter the <b>code</b> and <b>title</b> of your desired course below</p>

    

    <table>
	    
<tr>
	<td>Code:</td>
	<td><input class="search-box" type="text" placeholder="Enter the code of course here..."/></td>
</tr>
<tr>
	<td>Title:</td>
	<td><input class="search-box" type="text" placeholder="Enter the Title of course here..."/></td>
</tr>
<tr>
	<td colspan="2"><input class="search-button" type="submit" value="register" /></td>
</tr>

    </table>


{% include "nav.html" %}    

</body>
</html>
