
<style>
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 200px;

}
li a {
    display: block;
    width : 200px;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    color: black;
    background-color: #ced6e0;
    text-align: center;
    border-bottom: 1px solid black;

}

li a:hover {
    background-color: #2f3542;
    color: white;
}

</style>


<nav>
<ul>
    <li><a href="/home">home</a></li>
    <li><a href="/login">login</a></li>
    <li><a href="/logout">logout</a></li>
    <li><a href="/course-list">Course List</a></li>
    <li><a href="/course-register">Course Register</a></li>
    <li><a href="/department-list">Department List</a></li>
</ul>
</nav>
